<div class="container text-center">
    <h1>About Page</h1>
    <p>We are SaaS. Out company focuses on creating an exclusive communit
    developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora reprehenderit, minus inventore distinctio vitae cumque recusandae architecto. Odit rem quisquam sunt consequatur nemo laudantium magni ipsum quibusdam totam minus, labore!</p>
</div>